body * {
    // outline: 1px solid lightgrey;
}
//ограничивающий контейнер
._container{
    max-width: 920px;
    margin: 0 auto;

}
body{
    font-family: 'Istok Web', sans-serif;
    background-image: linear-gradient(to top, rgba(3, 11, 242, 0.857), rgba(62, 220, 23, 0.405)), url('./img/ground-2.png');
    background-size: cover;

}
body, html{
    height: 100%;
    margin: 0;
}
// Сброс ul ol 
ul[class],
ol[class] {
  list-style: none;
}
.wrapper{
    background-image: linear-gradient( 180deg, #65fdf0c7 10%, #8c9499c7 100%);
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content{
    flex: 1 1 auto;
}
.titel{
    text-align: center;
    font-size: 24px;
}
.header{
    display: flex;
    align-items:center;
    // justify-content: space-between;
    height: 80px;
    &-logo{
        background: no-repeat url('./img/logotip_v2.png');
        background-size: contain;

        height: 100%;
        width: 25%;
    }
    &-menu{
        width: 75%;
      
    }
    .menu{
        display: flex;
        justify-content: space-around;
        color: rgba(33, 40, 233, 0.723);
        &-item{
            margin: 5px;
            text-transform: uppercase;
            font-size: 24px;
        }
        cursor: pointer;
    } 
}
.footer{
    &-content{
        padding: 10px;
        text-align: center;
    }
}

.gamesBullCows{
    // display: none;
    &-content{
        padding: 35px 15px;
    }
    &-columns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 25px;
        &-item{
            // background-color: red;
            #columns-item-image-bull{
                background: no-repeat url('./img/bull.png');
                width: 128px;
                height: 128px;
            }
            #columns-item-image-cows{
                background: no-repeat url('./img/cows.png');
                background-size: contain;
                width: 128px;
                height: 128px;
            }
            .columns-item-content{
                padding: 10px 0px;
                text-align: center;
                font-size: 36px;
            }
            .logBullCows{
                width: 275px;
                text-align: center;
                &-error{
                    height: 35px;
                    color: red;

                    font-size: 16px;
                    text-transform: uppercase;
                }
                &-log{
                    
                    margin-top: 10px;
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }
        }

    }
    
    &-four-columns{
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    &-four-columns-items{

        width: 55px;
        label {
            cursor: pointer;
            border: 3px solid grey;
            padding: 3px;
            display: block;
            margin-left: 5px;
        }
        .number-itog{
            font-size: 24px;
            font-weight: 700;
        }
    }

    input[type="radio"]:checked, 
    input[type="radio"]:not(:checked) 
    {
        position: absolute;
        left: -9999px;
    }

    
    .number1 {
    }
    .number2 {
    }
    .number3 {
    }
    .number4 {
    }
    &-log{
        .logBullCows-tilet{
            padding: 10px 0px;
        }
    }
}


/* end   GAMES gamesBullCows*/


.button{
    margin:0 10px;
}

input {
    font-family:inherit;
    font-size: inherit;
}


.gamesNim {
    &-titel{

    }
    &-pravilo {

    }
    &-games {
        display: flex;
        flex-wrap: wrap;
    }
    &-level {
        padding: 5px;
        width: 350px;
        
        
        .level{
            
            &-1{

            }
        }
        .poleGames {
            display: flex;
            height: 150px;
            // justify-content: space-around;
            &-item {
                label{
                    display: block;
                }
                min-width: 120px;
                align-self: flex-end;

            }
        }
    }

}


// .level-1 {
// }
// .level-1-titel {
// }
// .level-1-poleGames {
// }
// .poleGames {
// }
// .poleGames-item {
// }
// .img-checkbox {
// }
// .checkbox-1-1 {
// }
// .img-1-1 {
// }
// .level-1-status {
// }
// .level-1-button-next {
// }
// .level-1-button-newGames {
// }
// .level-2 {
// }
// .level-2-titel {
// }
// .level-2-poleGames {
// }
// .checkbox-1-2 {
// }
// .img-1-2 {
// }
// .checkbox-2-2 {
// }
// .img-2-2 {
// }
// .level-2-status {
// }
// .level-2-button-next {
// }
// .level-2-button-newGames {
// }
// .level-3 {
// }
// .level-3-titel {
// }
// .level-3-poleGames {
// }
// .checkbox-1-3 {
// }
// .img-1-3 {
// }
// .checkbox-2-3 {
// }
// .img-2-3 {
// }
// .level-3-status {
// }
// .level-3-button-next {
// }
// .level-3-button-newGames {
// }
// .level-4 {
// }
// .level-4-titel {
// }
// .level-4-poleGames {
// }
// .checkbox-1-4 {
// }
// .img-1-4 {
// }
// .checkbox-2-4 {
// }
// .img-2-4 {
// }
// .checkbox-3-4 {
// }
// .img-3-4 {
// }
// .level-4-status {
// }
// .level-4-button-next {
// }
// .level-4-button-newGames {
// }