body * {
    outline: 1px solid lightgrey;
}
//ограничивающий контейнер
._container{
    max-width: 920px;
    margin: 0 auto;
}
body{
    font-family: 'Istok Web', sans-serif;
    background-image: linear-gradient(to top, rgba(3, 11, 242, 0.857), rgba(62, 220, 23, 0.405)), url('./img/ground-2.png');
    background-size: cover;
    
}
// Сброс ul ol 
ul[class],
ol[class] {
  list-style: none;
}
.wrapper{
    background-image: linear-gradient( 180deg, #65fdf0c7 10%, #8c9499c7 100%);
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1 0 auto;
}
.titel{
    text-align: center;
    font-size: 24px;
}
.header{
    display: flex;
    align-items:center;
    // justify-content: space-between;
    height: 80px;
    &__logo{
        background: no-repeat url('./img/logotip.png');
        background-size: contain;
        height: 100%;
        width: 25%;
    }
    &__menu{
        width: 75%;
      
    }
    .menu{
        display: flex;
        justify-content: space-around;
        color: rgba(33, 40, 233, 0.723);
        &__item{
            
            margin: 5px;
            text-transform: uppercase;
            font-size: 24px;
        }
        cursor: pointer;

    } 
}

.gamesBullCows{
    // display: none;
    &-pravilo{
        padding: 35px 15px;
    }
    &-games {
        display: flex;
        justify-content: space-between;
        padding: 25px;
    }
    &-four-columns{

        display: flex;
        justify-content: space-around;
    }
    &-four-columns-items{
        width: 35px;
        label {
                padding-bottom: 15px;
                display: block;
        }
    }

    input[type="radio"]:checked, 
    input[type="radio"]:not(:checked) 
    {
        position: absolute;
        left: -9999px;
    }
    .gamesBullCows-three-columns-item {
    }
    
    .number1 {
    }
    .number2 {
    }
    .number3 {
    }
    .number4 {
    }
    &-log{
        .logBullCows-tilet{
            padding: 10px 0px;
        }
    }
}


/* end   GAMES gamesBullCows*/


.btn{
    margin: 15px;
}

